p {
    font-family: 'Inter', sans-serif, 'Courier New', Courier, monospace;
    font-size: 20px;
}

body {
    position: relative;
}

body::after {
    content: "";
    background: linear-gradient(rgba(70, 35, 122, 0.6), rgba(70, 35, 122, 0.6)), url(../img/Fondos/equipo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.contenedor_mayor {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.equipo_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo_titulo p {
    font-size: 60px;
    font-family: 'Inter', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.lineUp {
    animation: 2s anim-lineUp ease-out;
    animation-fill-mode: forwards;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.contenedor {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 0 auto 8rem auto;
    border-radius: 20px;
}

.datop {
    color: rgba(65, 64, 66, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


.nombre {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.5rem;
    transform: scale(0.94);
}

.animated-text {
    opacity: 0;
}

.animated {
    opacity: 1;
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0.94);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.animated span:nth-child(1) {
    animation: fade-in 0.4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animated span:nth-child(2) {
    animation: fade-in 0.3s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animated span:nth-child(3) {
    animation: fade-in 0.3s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animated span:nth-child(4) {
    animation: fade-in 0.3s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animated span:nth-child(5) {
    animation: fade-in 0.3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animated span:nth-child(6) {
    animation: fade-in 0.3s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        filter: blur(4px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}


.info {
    color: rgba(65, 64, 66, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: justify;
}

.equipo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.equipo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.equipo3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.equipo1 img {
    width: 179px;
    height: 166px;
    margin-right: 2rem;
}

.equipo2 img {
    width: 179px;
    height: 166px;
    margin-left: 2rem;
}

.equipo3 img {
    width: 179px;
    height: 166px;
    margin-right: 2rem;
}

/*----------Responsive----------*/
@media(max-width: 768px){
    .contenedor_mayor {
        display: grid;
        grid-template-rows: 1fr 10fr;
    }

    .equipo_titulo p {
        font-size: 50px;
        font-family: 'Inter', 'Courier New', Courier, monospace;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
    }

    .contenedor {
        background-color: rgb(244, 238, 210);
        display: flex;
        flex-direction: column;
        margin: 0 auto 8rem auto;
        border-radius: 20px;
    }

    .datop {
        color: rgba(65, 64, 66, 0.80);
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .datop p{
        font-size: 17px;
    }

    .nombre {
        color: #880101;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0.5rem;
        transform: scale(0.94);
    }

    .info {
        color: rgba(65, 64, 66, 0.80);
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: justify;
    }

    .equipo1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .equipo2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .equipo3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .equipo1 img {
        width: 179px;
        height: 166px;
        margin-left: 25%;
        border-radius: 50px;
    }

    .equipo2 img {
        width: 179px;
        height: 166px;
        margin-left: 25%;
        border-radius: 50px;
    }

    .equipo3 img {
        width: 179px;
        height: 166px;
        margin-left: 25%;
        border-radius: 50px;
    }
}

