body {
	font-family: 'Inter', sans-serif;
    position: relative;
    margin-top: 60px; /* Añadido para compensar la altura de la barra de navegación */
}

/* Media queries para hacer el diseño responsive */
@media screen and (max-width: 768px) {
    /* Puedes agregar aquí los estilos para ajustar el diseño en dispositivos más pequeños */
    /* Por ejemplo, cambiar el tamaño de los elementos, ajustar el padding o margen, etc. */
}
body::after {
    content: "";
    background: linear-gradient(rgba(70, 35, 122, 0.6), rgba(70, 35, 122, 0.6)), url("../img/Fondos/formulario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logoimg {
    margin-left: 30px;
    padding: 6px;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 40px; /* Ajusta la altura del menú */
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 0 15px; /* Aumenta el espacio entre las opciones */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #46237A;
    z-index: 1;
    transition: transform 0.3s;
}

.navbar a:hover, .mostrar-menu:hover, .esconder-menu:hover {
  color: blueviolet;
  transform: scale(1.05); /* Incrementa la escala del texto al pasar el mouse */
}

.titulo-contacto {
    text-align: center;
    margin-top: 60px; /* Añadido para compensar la altura de la barra de navegación */
    margin-bottom: 40px;
}

.titulo-contacto h1 {
	font-size: 60px;
    font-family: 'Inter','Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}


.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Añadido para centrar verticalmente */
    height: 100vh;
    margin-top: -120px; /* Ajusta el valor según sea necesario */
    padding-top: 30px; /* Agregado para crear un espacio en la parte superior */
    z-index: 1; /* Ajustado para asegurar que esté en un nivel inferior */
}


.fondo-principal {
    background-color: rgba(255, 255, 255, 0.99); /* Cambiado a opacidad 0.8 */
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    position: relative; /* Añadido para posicionar el título */
}

.texto-creciente {
    color: white; /* Cambiado a blanco */
    font-family: 'Inter', sans-serif;
    font-size: 48px; /* Aumentado el tamaño de fuente */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    position: absolute; /* Añadido para posicionar el título */
    top: -70px; /* Ajusta el valor según sea necesario */
    left: 50%;
    transform: translateX(-50%);
}

.texto-creciente2 {
    color: darkmagenta;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    transition: font-size 0.2s; /* Agrega una transición suave para el cambio de tamaño de fuente */
}

.texto-creciente2:hover {
    font-size: 25px; /* Aumenta el tamaño de fuente al pasar el mouse */
}

.mapa {
    float: left;
    width: 50%;
}

.formulario {
    float: right;
    width: 45%; /* Reducir el ancho del formulario */
    padding-left: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    font-size: 24px;
    color: blueviolet;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos horizontalmente */
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Centrar los títulos */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(200, 180, 230, 0.6);
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input:invalid,
textarea:invalid {
    border-color: red;
}

.pie-pagina{
    height: 7rem;
    display: flex;
    justify-content: center;
    background-color: white;
}

.pie-pagina div{
    margin: auto;
}

.pie-pagina img{
    margin: 0 20px;
}
